/.git
/.vs/*
*/.vs/*
*.user
*.lock.json
/packages/*

/Alfred/.vs/*
/Alfred/Library/*
/Alfred/Temp/*
/Alfred/packages/*
/Alfred/obj/*
/Alfred/builds/*
/Alfred/Assets/Plugins/*

/RestClient/.vs/*
/RestClient/packages/*

/RoomServer/RestServer/bin/*
/RoomServer/RestServer/obj/*

/RoomServer/LibExchange/bin/*
/RoomServer/LibExchange/obj/*

/Website/bin/*
/Website/obj/*

/RaspberryPi/.vs/*
/RaspberryPi/Sensors/bin/*
/RaspberryPi/Sensors/obj/*