/.git
/.vs/*
*.user

/Alfred/.vs/*
/Alfred/Library/*
/Alfred/Temp/*
/Alfred/packages/*
/Alfred/obj/*
/Alfred/builds/*
/Alfred/Assets/Plugins/*

/RestClient/.vs/*
/RestClient/packages/*

/RestClient/Website/bin/*
/RestClient/Website/obj/*

/RestClient/LibExchange/bin/*
/RestClient/LibExchange/obj/*

/RestServer/bin/*
/RestServer/obj/*