/.git
/.vs/*

/Alfred/.vs/*
/Alfred/Library/*
/Alfred/Temp/*
/Alfred/packages/*
/Alfred/obj/*
/Alfred/builds/*

/RestClient/.vs/*
/RestClient/packages/*

/RestClient/Website/bin/*
/RestClient/Website/obj/*
/RestClient/Website/*.user

/RestClient/LibExchange/bin/*
/RestClient/LibExchange/obj/*
/RestClient/LibExchange/*.user