<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <location-picker [locations]="_locations" (myEvent)="eventResult($event)"></location-picker>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div id="hamburger-div" fxLayout="row">
        <button class="hamburger-button" (click)="sidenav.toggle()"></button>
      </div>

      <div id="mainview-div" fxFlex>
        <h1>Alfred</h1>
        <h2>Rooms</h2>

        <div fxHide fxShow.xs="true">
          <room-selector [rooms]="roomList"></room-selector>
        </div>

        <div fxLayout="row" fxLayoutWrap>
          <div fxShow fxHide.xs="true" id="calenderView">
            <calendar-view [rooms]="roomList"></calendar-view>
          </div>
    
          <div id="roomDetail" fxFlex>
            <a routerLink="/rooms/:id" routerLinkActive="active"></a>
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>